# Django specific files
__pycache__/
*.pyc
*.pyo
*.db.sqlite3

# Virtual Environment
venv/
env/
pip-lock.txt
.venv/

# IDE settings
.idea/
.vscode/

# Logs and error files
logs/
*.log

# Static and media files
staticfiles/
media/

# Database backup files
db_backup/

# Compiled Python files
*.pyc

# Local development settings
*.env

# Dependency directories
node_modules/
